.registerContainer{
    background-color: #FCA311;
    width: 800px;
    height: 500px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    
}

.boxRegister{
    text-align: center;
}

.customerData{ 
    border-radius: 7px;
    border: none;
    width: 200px;
    height: 30px;
    margin-bottom: 7px;
    text-align: center;
}