.registerContainer {
    background-color: #FCA311; /* Amarelo escuro para o container principal */
    color: #000; /* Letras em preto */
    width: 100%;
    max-width: 1000px;
    height: auto;
    padding: 20px;
    border-radius: 14px;
    display: flex; /* Mudança para flex para alinhamento melhor */
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* Centraliza horizontalmente */
}

.boxRegister {
    margin-top: 30px;
    background-color: #e5a400; /* Amarelo escuro para o fundo do formulário de cadastro */
    color: #000; /* Letras em preto */
    padding: 20px; /* Padding para espaço interno */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para profundidade */
    width: 100%;
}

.productLine {
    display: flex;
    justify-content: space-between; /* Espaçamento entre itens */
    width: 100%;
    margin-bottom: 20px; /* Espaçamento inferior */
    font-weight: bold;
    font-size: large;
    color: #000; /* Letras em preto */
}

.productData {
    border-radius: 7px;
    border: 1px solid #ddd; /* Borda para clareza */
    width: calc(100% - 22px);
    padding: 10px; /* Padding interno */
    margin-bottom: 10px; /* Espaçamento inferior */
    text-align: center;
    font-size: 16px;
    box-sizing: border-box; /* Inclui padding e borda na largura */
    color: #000; /* Letras em preto */
}

.customDropdown {
    position: relative;
    width: 200px;
    text-align: center;
}

.dropdownButton {
    border: 1px solid #ddd; /* Borda para clareza */
    border-radius: 7px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
    color: #000; /* Letras em preto */
}

.dropdownOptions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    box-sizing: border-box;
}

.dropdownOptions.show {
    display: block;
}

.dropdownOptions li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.dropdownOptions li:hover {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.registerButton {
    display: flex;
    justify-content: center; /* Centraliza o botão */
    margin-top: 20px;
}

button#btn {
    border-radius: 5px;
    width: 100px;
    height: 30px;
    background-color: #80ed99;
    cursor: pointer;
    color: #fff; /* Texto branco */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave */
}

button#btn:hover {
    background-color: #66e685; /* Cor de hover */
}
