.registerContainer {
    background-color: #FCA311;
    width: 1000px;
    height: 500px;
    border-radius: 14px;
    display: grid;
}

.boxRegister {
    margin-top: 5%;
}

.productData {
    border-radius: 7px;
    border: none;
    width: 200px;
    height: 30px;
    margin-bottom: 7px;
    text-align: center;
    cursor: pointer;
}

.registerButton {
    margin-top: 5%;
    text-align: center;
}

.productLine {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: large;
    width: 1000px;
}

.customDropdown {
    position: relative;
    width: 200px;
    text-align: center;
}

.dropdownButton {
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 30px;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
}

.dropdownOptions {
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; 
    box-sizing: border-box;
}

.dropdownOptions.show {
    display: block;
}

.dropdownOptions li {
    padding: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    text-align: center;
}

.dropdownOptions li:hover {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
}
