.table-container {
    overflow-x: auto; /* Adiciona uma rolagem horizontal se necessário */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  button {
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  input {
    padding: 8px;
    margin: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  